* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
}
.pageContainer {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  flex-direction: row;
}
.logoText {
  position: absolute;
  padding: 31px;
  padding-left: 0px;
  left: 510px;
  bottom: 170px;
  color: white;
  background-color: rgba(34, 34, 34, 0.65);
  font-size: 65px;
  font-family: monospace;
}
.rightSection {
  display: flex;
  flex-direction: column;
}
.topRight {
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 75px;
  padding-right: 200px;
  font-size: 20px;
}
.pageDescription {
  padding-bottom: 25px;
}
.middleRight {
  background-color: white;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.formContainer {
  display: flex;
}
.formPretext {
  font-size: 20px;
  padding-bottom: 20px;
}
.formLeft {
  padding-right: 50px;
}
.inputDiv {
  padding-bottom: 20px;
}
input {
  border-radius: 5px;
  font-size: 20px;
}
label {
  font-size: 12px;
}
input,
label {
  display: block;
}
.bottomRight {
  padding-left: 50px;
  padding-top: 30px;
  box-shadow: 0px 5px 5px darkgrey inset;
}
button {
  padding: 10px 40px;
  background-color: rgb(48, 22, 48);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.loginDiv {
  padding-top: 20px;
}
#backImage {
  position: relative;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}
#frontLogo {
  position: absolute;
  width: 160px;
  height: 140px;
  opacity: 65%;
  bottom: 170px;
  left: 350px;
}
