* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a {
  text-decoration: none;
  color: rgb(48, 22, 48);
}
body {
  background-color: rgb(60, 60, 60);
  display: flex;
}
.pageContainer {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: row;
}
.leftSection {
  position: relative;
  width: 20vw;
  height: 100vh;
}
.logoAndText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15%;
  height: 150px;
  width: 20vw;
  background-color: rgba(34, 34, 34, 0.65);
  overflow: hidden;
}
.logoText {
  color: white;
  font-size: 65px;
  font-family: monospace;
}
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}
.topRight {
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 75px;
  padding-right: 200px;
  font-size: 20px;
}
.pageDescription {
  padding-bottom: 25px;
}
.middleRight {
  background-color: white;
  padding: 25px 50px;
}
.formContainer {
  display: flex;
}
.formPretext {
  font-size: 20px;
  padding-bottom: 20px;
}
.formLeft {
  padding-right: 50px;
}
.inputDiv {
  padding-bottom: 20px;
}
input {
  border-radius: 5px;
  font-size: 20px;
}
input:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
label {
  font-size: 12px;
}
input,
label {
  display: block;
}
.bottomRight {
  padding-left: 50px;
  padding-top: 30px;
  box-shadow: 0px 5px 5px darkgrey inset;
}
button {
  padding: 10px 40px;
  background-color: rgb(48, 22, 48);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.loginDiv {
  padding: 20px 0px;
}
#backImage {
  height: 100%;
  width: 100%;
}
#frontLogo {
  height: 100%;
  width: 40%;
  opacity: 70%;
}
