* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
}
.pageContainer {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  flex-direction: row;
}
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topRight {
  padding-left: 50px;
  padding-bottom: 75px;
  padding-right: 200px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.pageDescription {
  padding-bottom: 25px;
}
.middleRight {
  background-color: white;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.formContainer {
  display: flex;
}
.bottomRight {
  padding-left: 50px;
  padding-top: 30px;
}
#backImage {
  position: absolute;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}
#frontLogo {
  position: relative;
  width: 428px;
  height: 200px;
  opacity: 60%;
  top: 20px;
}
